@import'./constants.scss';

.cardlist {
    background: $BACKGROUND_COLOR;
    .container{
        padding-top: 50px;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        h1{
            color:$WHITE_COLOR;
        }
    }
    &-card{
        img{
            border-radius: 10px;
        };
        h4{
            color:$WHITE_COLOR;
            margin-top: 10px;
            font-weight: 400;
        }
    }
};