@import'./constants.scss';

.error{
    &__header{
        background-image: url(./../components/images/Header.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        text-align: center;
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}